main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main section:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-width: 100%;
  min-height: 85vh;
  background-color: black;
  background: url(/img/Section-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  background-color: rgb(34, 34, 34);
}

main section:nth-child(1) div {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 60%;
  min-height: 50vh;
}

main section:nth-child(1) div h1 {
  font-family: Alkatra, serif;
  color: white;
  font-size: 4rem;
  letter-spacing: 3px;
}

main section:nth-child(1) div span {
  font-family: Alkatra, serif;
  color: tomato;
  font-size: 4rem;
}

main section:nth-child(1) div p {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: justify;
  color: antiquewhite;
}

@media screen and (max-width: 768px) {
  main section:nth-child(1) {
    justify-content: center;
    align-items: start;
    background-position: bottom;
  }

  main section:nth-child(1) div {
    padding: 20px 0;
    width: 70%;
    min-height: 40vh;
  }

  main section:nth-child(1) div h1 {
    font-size: 2.4rem;
  }

  main section:nth-child(1) div span {
    font-size: 2.4rem;
  }

  main section:nth-child(1) div p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  main section:nth-child(1) {
    background-size: 100%;
  }
  main section:nth-child(1) div {
    width: 90%;
    min-height: 35vh;
  }
  main section:nth-child(1) div h1 {
    font-size: 2rem;
  }

  main section:nth-child(1) div span {
    font-size: 2rem;
  }

  main section:nth-child(1) div p {
    font-size: 0.8rem;
    font-weight: 100;
  }
}

@media screen and (max-width: 300px) {
  main section:nth-child(1) div h1 {
    font-size: 1rem;
  }

  main section:nth-child(1) div span {
    font-size: 1rem;
  }

  main section:nth-child(1) div p {
    font-size: 0.6rem;
  }
}

main section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 500px;
  background-color: rgb(34, 34, 34);
  padding: 50px 0;
  position: relative;
}

main section:nth-child(2) h1 {
  width: 90%;
  font-family: "Acme", sans-serif;
  color: white;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
  background-color: tomato;
  border-radius: 50px;
}

main section:nth-child(2) div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  margin: 20px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

main section:nth-child(2) div p {
  margin: 0 0 15px;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: justify;
  color: antiquewhite;
  mix-blend-mode: difference;
}

@media screen and (max-width: 1280px) {
  main section:nth-child(2) div {
    max-width: 600px;
  }
}

@media screen and (max-width: 800px) {
  main section:nth-child(2) div {
    max-width: 500px;
  }

  main section:nth-child(2) div p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(2) {
    padding: 30px 0;
  }

  main section:nth-child(2) div {
    max-width: 450px;
  }

  main section:nth-child(2) div p {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

/* Style for Cafe Racer Section */
main section:nth-child(3) {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
}

main section:nth-child(3) div {
  width: 60%;
  height: 55vh;
  background-color: #ff6347;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

main section:nth-child(3) div:nth-child(1) {
  margin-right: 30px;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main section:nth-child(3) div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(/img/Section-1.png);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-size: 90%;
  background-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

main section:nth-child(3) div:nth-child(1) h1 {
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main section:nth-child(3) div:nth-child(1) p {
  font-family: "Oxygen", sans-serif;
  margin: 8px;
  text-align: justify;
}

main section:nth-child(3) div:nth-child(3) p {
  font-family: "Oxygen", sans-serif;
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
}

main section:nth-child(3) div:nth-child(3) h2 {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

main section:nth-child(3) div:nth-child(3) ul {
  list-style-type:disc;
  margin-left: 20px;
  padding: 0;
}

main section:nth-child(3) div:nth-child(3) ul li {
  font-family: "Oxygen", sans-serif;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

main section:nth-child(3) div:nth-child(3) a button {
  padding: 10px;
  margin: 10px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  main section:nth-child(3) {
    flex-direction: column;
    justify-content: space-around;
  }

  main section:nth-child(3) div {
    padding: 0;
  }
  main section:nth-child(3) div:nth-child(1) {
    width: 100%;
    margin: 0;
    height: 30vh;
  }
  main section:nth-child(3) div:nth-child(2) {
    height: 70vh;
  }
  main section:nth-child(3) div:nth-child(2) h1 {
    font-size: 2rem;
  }

  main section:nth-child(3) div:nth-child(3) {
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  main section:nth-child(3) div:nth-child(2){
    background-size: 100%;
    height: 60vh;
    box-shadow: none;
  }
  main section:nth-child(3) div:nth-child(2) h1 {
    font-size: 1.5rem;
  }
  main section:nth-child(3) div:nth-child(2) p {
    font-size: 1rem;
    text-align: center;
  }
  main section:nth-child(3) div:nth-child(2) h2 {
    font-size: 1rem;
  }

  main section:nth-child(3) div:nth-child(3){
    padding: 20px;
  }
}

main section:nth-child(4) {
  padding: 50px 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(34, 34, 34);
}

main section:nth-child(4) div {
  width: 60%;
  height: 55vh;
  background-color: #ff6347;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px -4px -6px rgba(0, 0, 0, 0.5);
}

main section:nth-child(4) div:nth-child(1) {
  margin-left: 30px;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main section:nth-child(4) div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(/img/Bobber.png);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-size: 90%;
  background-position: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

main section:nth-child(4) div:nth-child(1) h1 {
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main section:nth-child(4) div:nth-child(1) p {
  font-family: "Oxygen", sans-serif;
  margin: 8px;
  text-align: justify;
}

main section:nth-child(4) div:nth-child(3) p {
  font-family: "Oxygen", sans-serif;
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
}

main section:nth-child(4) div:nth-child(3) h2 {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

main section:nth-child(4) div:nth-child(3) ul {
  list-style-type: disc;
  margin-left: 20px;
  padding: 0;
}

main section:nth-child(4) div:nth-child(3) ul li {
  font-family: "Oxygen", sans-serif;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

main section:nth-child(4) div:nth-child(3) a button {
  padding: 10px;
  margin: 10px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  main section:nth-child(4) {
    flex-direction: column;
    justify-content: space-around;
  }

  main section:nth-child(4) div {
    padding: 0;
  }
  main section:nth-child(4) div:nth-child(1) {
    width: 100%;
    margin: 0;
    height: 30vh;
  }
  main section:nth-child(4) div:nth-child(2) {
    height: 70vh;
  }
  main section:nth-child(4) div:nth-child(2) h1 {
    font-size: 2rem;
  }

  main section:nth-child(4) div:nth-child(3) {
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  main section:nth-child(4) div:nth-child(2){
    background-size: 100%;
    height: 60vh;
    box-shadow: none;
  }
  main section:nth-child(4) div:nth-child(2) h1 {
    font-size: 1.5rem;
  }
  main section:nth-child(4) div:nth-child(2) p {
    font-size: 1rem;
    text-align: center;
  }
  main section:nth-child(4) div:nth-child(2) h2 {
    font-size: 1rem;
  }

  main section:nth-child(4) div:nth-child(3){
    padding: 20px;
  }
}

main section:nth-child(5) {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
}

main section:nth-child(5) div {
  width: 60%;
  height: 55vh;
  background-color: #ff6347;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

main section:nth-child(5) div:nth-child(1) {
  margin-right: 30px;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main section:nth-child(5) div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(/img/Bobber.png);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-size: 90%;
  background-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

main section:nth-child(5) div:nth-child(1) h1 {
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main section:nth-child(5) div:nth-child(1) p {
  font-family: "Oxygen", sans-serif;
  margin: 8px;
  text-align: justify;
}

main section:nth-child(5) div:nth-child(3) p {
  font-family: "Oxygen", sans-serif;
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
}

main section:nth-child(5) div:nth-child(3) h2 {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

main section:nth-child(5) div:nth-child(3) ul {
  list-style-type: disc;
  margin-left: 20px;
  padding: 0;
}

main section:nth-child(5) div:nth-child(3) ul li {
  font-family: "Oxygen", sans-serif;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

main section:nth-child(5) div:nth-child(3) a button {
  padding: 10px;
  margin: 10px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  main section:nth-child(5) {
    flex-direction: column;
    justify-content: space-around;
  }

  main section:nth-child(5) div {
    padding: 0;
  }
  main section:nth-child(5) div:nth-child(1) {
    width: 100%;
    margin: 0;
    height: 30vh;
  }
  main section:nth-child(5) div:nth-child(2) {
    height: 70vh;
  }
  main section:nth-child(5) div:nth-child(2) h1 {
    font-size: 2rem;
  }

  main section:nth-child(5) div:nth-child(3) {
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  main section:nth-child(5) div:nth-child(2){
    background-size: 100%;
    height: 60vh;
    box-shadow: none;
  }
  main section:nth-child(5) div:nth-child(2) h1 {
    font-size: 1.5rem;
  }
  main section:nth-child(5) div:nth-child(2) p {
    font-size: 1rem;
    text-align: center;
  }
  main section:nth-child(5) div:nth-child(2) h2 {
    font-size: 1rem;
  }

  main section:nth-child(5) div:nth-child(3){
    padding: 20px;
  }
}

main section:nth-child(6) {
  padding: 90px 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
}

main section:nth-child(6) div:nth-child(1) {
  color: white;
  font-size: 3rem;
  font-family: "Acme", "sans-serif";
  background-color: tomato;
  width: 90%;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 2px;
}

main section:nth-child(6) div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 50px 0;
}

main section:nth-child(6) div:nth-child(2) h3 {
  text-align: center;
  margin: 20px 0;
  padding: 15px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  width: 20%;
  background-color: white;
  border-radius: 50px;
}

main section:nth-child(6) div:nth-child(3) {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section:nth-child(6) div:nth-child(3) a {
  cursor: pointer;
  padding: 10px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  width: 90%;
  color: black;
  background-color: white;
  text-align: center;
  transition: 0.3s ease;
}

main section:nth-child(6) div:nth-child(3) a:hover {
  background-color: whitesmoke;
}

@media screen and (max-width: 600px) {
  main section:nth-child(6) div:nth-child(2) {
    flex-direction: column;
  }

  main section:nth-child(6) div:nth-child(2) h3 {
    border-radius: 0;
    width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {

  main section:nth-child(6) div:nth-child(2) h3 {
    font-size: 1rem;
  }
}

section:nth-child(7) {
  background-color: rgb(34, 34, 34);
  padding: 90px 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

section:nth-child(7) div:nth-child(1) {
  color: white;
  font-size: 3rem;
  font-family: "Acme", "sans-serif";
  background-color: tomato;
  width: 90%;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 2px;
}

section:nth-child(7) div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 20px 0;
}

section:nth-child(7) div:nth-child(2) p {
  text-align: center;
  margin: 20px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  border-radius: 50px;
  color: white;
}

section:nth-child(7) div:nth-child(2) {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(7) div:nth-child(2) a {
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  transition: 0.3s ease;
}

section:nth-child(7) div:nth-child(2) a:hover {
  color: tomato;
}

@media screen and (max-width: 600px) {
  section:nth-child(7) div:nth-child(2) {
    flex-direction: column;
  }

  section:nth-child(7) div:nth-child(2) p {
    border-radius: 0;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
  }

  section:nth-child(7) div:nth-child(2) a{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {

  section:nth-child(7) div:nth-child(2) p {
    font-size: 1rem;
  }
}
