/* CSS untuk tombol dan formulir pemesanan */
.pesan-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #007bff;
  color: #fff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.form-pemesanan {
  display: none;
  position: fixed;
  bottom: 100;
  right: 0;
  left: 0;
  margin: auto;
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Styling untuk formulir input */
.form-pemesanan form label {
  margin: 0;
  margin-bottom: 10px;
}

.form-pemesanan form input,
.form-pemesanan form select,
.form-pemesanan form textarea,
.form-pemesanan form button {
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border-bottom: 1.5px solid black;
}

.form-pemesanan form button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: green;
  color: white;
}

:root {
  --main-color: rgb(121, 121, 121);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-decoration: none;
  /* list-style-type: none; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  top: 0;
  background-color: var(--main-color);
}

header div {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 40%;
}

header div:nth-child(1) {
  justify-content: start;
}

header div:nth-child(1) h1 {
  font-family: Arial, serif;
  color: white;
  font-size: 4rem;
  font-weight: 800;
}

header div:nth-child(1) span {
  font-family: Arial, serif;
  color: tomato;
  font-size: 4rem;
  font-weight: 800;
}

header div:nth-child(2) a button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 35px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  header div:nth-child(1) h1 {
    font-size: 2rem;
  }
  header div:nth-child(1) span {
    font-size: 2rem;
  }

  header div:nth-child(2) a button {
    height: 25px;
    padding: 5px 2px;
    font-size: 0.7rem;
  }
}
